@import '../../scss/variables';

.Button {
  background: $color-strong;
  border-radius: $border-radius;
  color: $white;
  display: inline-block;
  font-size: $h4-font-size;
  font-weight: bold;
  padding: $spacing-small $spacing-medium;
  text-decoration: none;
  transition: background-color 0.5s;
}

.Button:hover {
  background: darken($color-strong, 10);
}
