@import '../../scss/variables';

.Footer {
  background: $gray-base;
  color: $gray-bright;
  font-size: $h5-font-size;
  padding: $spacing-large;
}

.Footer__Link {
  color: $gray-pale;
  text-decoration: none;
}
